body {
  background: black;
  font-family: "light";
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
.rec1 {
  position: absolute;
  width: 57px;
  height: 10%;
  left: 72px;
  top: 20%;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  filter: blur(3px);
  border-radius: 7px;
  animation: anim10 2s infinite linear;
}
@keyframes anim10 {
0% {top: 20%;}
  50% {top: 22%;}
    100% {top: 20%;}
}
.line1 {
  position: absolute;
  width: 35%;
  min-width: 20%;
  display: flex;
  height: 3px;
  background: white;
  left: 73px;
  top: 24.5%;
  transition: all .3s linear;
  filter: blur(3px);
}
.line1:hover {
  filter: blur(0);
}
.obj2 {
  position: absolute;
width: 20%;
max-height: 172px;
min-height: 13%;
left: 16%;
top: 30%;
border-top: 5px solid #FFFFFF;
border-left: 5px solid #FFFFFF;
filter: blur(3px);
border-radius: 14px;
animation: anim7 4s linear infinite;
}
@keyframes anim7 {
0% {left: 16%;}
  50% {left: 17%;}
    100% {left: 16%;}
}
.x_img4 {
  position: absolute;
      width: 40.55px;
      height: 39.78px;
      left: 3%;
      bottom: 30%;
}
.minitext {
  margin-top: 150px;
  position: absolute;
font-family: Suisse Intl;
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 37px;
}
.naming {
width: 100%;
height: 100vh !important;
display: flex;
justify-content: center;
height: auto;
align-items: center;
color: white;
font-family: Suisse Intl;
font-style: normal;
font-weight: 300;
font-size: 96px;
line-height: 111px;
}
.line2 {
  position: absolute;
width: 10%;
height: 0px;
left: 50%;
top: 18%;
border: 3px solid #FFFFFF;
filter: blur(3px);
animation: anim8 3s infinite linear;
}
@keyframes anim8 {
0% {top: 18%;}
  50% {top: 19%;}
    100% {top: 18%;}
}
.line3 {
  position: absolute;
width:15%;
height: 0px;
right: 20%;
top: 75px;
border: 2px solid #FFFFFF;
filter: blur(3px);
}
.line4 {
     position: absolute;
      max-width: 13%;
      min-width: 8%;
      height: 0px;
      right: 27%;
      top: 20%;
      border: 2px solid #FFFFFF;
}
.rec2 {
  position: absolute;
    width: 2%;
    height: 10%;
    right: 28%;
    top: 20%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    transform: rotate(
90deg
);
animation: anim4 3s infinite linear;
}
@keyframes anim4 {
0% {right: 28%;}
  50% {right: 25%;}
    100% {right: 28%;}
}
.line6 {
  position: absolute;
      width: 163px;
      height: 0px;
      right: 8%;
      top: 25%;
      border: 2px solid #FFFFFF;
      filter: blur(3px);
}
.rec3 {
  position: absolute;
    width: 6%;
    height: 20%;
    right: 10%;
    top: 20%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: blur(3px);
    border-radius: 17px;
    animation: anim9 4s infinite linear;
}
@keyframes anim9 {
0% {top: 20%;}
  50% {top: 17%;}
    100% {top: 20%;}
}
.line7 {
  position: absolute;
      width: 12%;
      right: 2.5%;
      top: 32%;
      border: 2px solid #FFFFFF;
      transform: rotate(
  90deg
  );
}
.circle2 {
  position: absolute;
      width: 84px;
      height: 84px;
      right: 7%;
      bottom: 20%;
      border-radius: 40px;
background: #000000;
border: 2px solid #FFFFFF;
box-sizing: border-box;
filter: blur(2px);
animation: anim6 3s infinite linear;
}
@keyframes anim6 {
0% {width: 84px;}
  50% {width: 94px;}
    100% {width: 84px;}
}
.line8 {
  position: absolute;
      width: 104px;
      height: 18px;
      right: 16%;
      bottom: 24%;
      border: 6px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 17px;
}
.line9 {
  position: absolute;
      width: 11%;
      right: 10%;
      bottom: 40%;
      border: 2px solid #FFFFFF;
      filter: blur(3px);
}
.line10 {
  position: absolute;
      width: 10%;
      height: 0px;
      right: 6%;
      bottom: 45%;
      border: 2px solid #FFFFFF;
      filter: blur(2px);
      transform: rotate(
  90deg
  );
  animation: anim5 4s linear infinite;
}
@keyframes anim5 {
0% {bottom: 45%;}
  50% {bottom: 50%;}
    100% {bottom: 45%;}
}
.line11 {
  position: absolute;
    width: 12%;
    height: 0px;
    right: 25%;
    bottom: 35%;
    border: 2px solid #FFFFFF;
    filter: blur(2px);
    animation: anim1 3s linear infinite;
}
@keyframes anim1 {
  0% {
    right: 25%
  }
50% {
  right: 27%;
}
0% {
  right: 25%
}
}
.line12 {
  position: absolute;
      width: 12%;
      height: 12%;
      right: 29%;
      bottom: 30%;
      border-top: 2px solid #FFFFFF;
      border-left: 2px solid #FFFFFF;
      filter: blur(2px);
      border-radius: 14px;
      transform: rotate(
  -180deg
  );
}
.line13 {
  position: absolute;
      width: 25%;
      height: 0px;
      right: 40%;
      bottom: 20%;
      border: 2px solid #FFFFFF;
      filter: blur(2px);
      animation: anim2 4s linear infinite;
}


@keyframes anim2 {
0% {
bottom: 20%;
}
50% {
bottom: 23%;
}
0% {
bottom: 20%;
}
}
.x_img1 {
  position: absolute;
  width: 41.55px;
  height: 39.78px;
  right: 22%;
  top: 22.5%;
}
.content_objects_2 {
      display: flex;
      width: auto;
      height: auto;
      right: 30%;
      bottom: 17.5%;
      position: absolute;
}
.x_img2 {

  width: 40.55px;
  height: 39.78px;
}
.unusual {
  position: absolute;
      width: 27%;
      height: 35%;
      left: 51px;
      bottom: 17%;
}
.frame {
  position: absolute;
    width: 10%;
    height: 5%;
    left: 20%;
    bottom: 27%;
    animation: anim3 3s infinite linear;
}
@keyframes anim3 {
0% {height: 5%;}
  50% {height: 8%;}
    100% {height: 5%;}
}
.x_img3 {
  position: absolute;
width: 40.55px;
height: 39.78px;
left: 18%;
top: 35%;
}
.line5 {
    position: absolute;
      width: 6%;
      height: 0px;
      right: 25%;
      top: 24%;
      border: 2px solid #FFFFFF;
      filter: blur(3px);
      transform: rotate(90.97deg);
}
.content_objects {
  display: flex;
  width: auto;
  height: auto;
  left: 27%;
  top: 11%;
  position: absolute;
}
.circle {
margin: 13px;
width: 40px;
height: 40px;
border: 4px solid #FFFFFF;
box-sizing: border-box;
border-radius: 20px;
}
.container_top {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  margin: 40px;
  font-size: 44px;
  color: white;
  justify-content: space-between;
}
.text_sections {
  filter: blur(4px);
  transition: filter .3s;
}
.text_sections:hover {
  filter: blur(0);
  transition: filter .3s;
}
.center {
    margin-left: -60px;
}
.body_html {
    position: fixed;
    height: 100vh;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 100%;
    display: flex;
}
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
    position: absolute;
}
.line_phone {
  object-fit: cover;
}
.line_phone2 {
  object-fit: cover;
  display: none;
  position: absolute;
}
.cont {
  width: 30px;
  height: 30px;
  object-fit: cover;
  width: 45px;
height: 28px;
padding: 15px;
padding-top: 23px;
padding-right: 21px;
}
.header {
  display: none;
}
.container_bottom {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 44px;
    align-self: flex-end;
    color: white;
    margin: 40px;
    justify-content: space-between;
}
.all_phone {
  display: none;
}
.burger_menu {
  width: 100%;
  height: 10vh;
  background: black;
  display: none;
}
li {
  color: white;
}
.burger_menu {
  position: absolute;
}
@media(max-width: 1100px){
  .content_objects {
    display: none;
  }
}
@media(max-width: 821px){
  .header {
    display: flex;
  }
 .all {
   display: none;
 }
 .all_phone {
   display: block;
 }
 .naming {
   font-size: 48px;
 }
 .minitext {
   font-size: 21px;
   margin-top: 88px;
 }
 }
 .tel1 {
   position: absolute;
 width: 19%;
 height: 25%;
 left: 42px;
 top: 40px;
 border: 5px solid #FFFFFF;
 box-sizing: border-box;
 filter: blur(3px);
 border-radius: 3px;
 }
 .tel2 {
   position: absolute;
   width: 19%;
   height: 25%;
   left: 78px;
   top: 82px;
   border: 5px solid #FFFFFF;
   box-sizing: border-box;
   border-radius: 7px;
 }
.tel3 {
  position: absolute;
      width: 25%;
      height: 5%;
      right: 23%;
      top: 33%;
}
.tel4 {
  position: absolute;
      width: 25%;
      height: 5%;
      right: 23%;
      top: 26%;
}
.tel5 {
  position: absolute;
  width: 30%;
  height: 3px;
  background: white;
  right: 3%;
  bottom: 25%;
  transform: rotate(
90deg
);
}
.tel6 {
      position: absolute;
      width: 30%;
      height: 3px;
      background: white;
      right: 15%;
      bottom: 17%;

}
.tel7 {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 13%;
      bottom: 19%;
      border: 3px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 20px;
      filter: blur(3px);
}
.tel8 {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 30%;
      bottom: 10%;
      border: 3px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 20px;
      filter: blur(3px);
}
.tel9 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 14%;
    bottom: 7%;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    filter: blur(3px);s
}
.tel10 {
    position: absolute;
    width: 26%;
    height: 5%;
    right: 48%;
    top: 65%;
}
.tel11 {
      position: absolute;
      width: 25%;
      height: 18px;
      right: 0%;
      top: 28%;
      border: 3px solid #FFFFFF;
      box-sizing: border-box;
      filter: blur(3px);
      border-radius: 17px;
      transform: rotate(90deg);
}
.tel12 {
  position: absolute;
width: 25%;
height: 18px;
right: 20%;
bottom: 7%;
border: 3px solid #FFFFFF;
box-sizing: border-box;
filter: blur(3px);
border-radius: 17px;
);
}
